<div>
  <label for="contact-name"></label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>


<p> TEST </p>


<!-- {{ contacts[0].name }} -->

<ul>
	<li *ngFor = "let contactHolder of contacts">
		<p> {{contactHolder.name}} </p>
		<p> {{contactHolder.email}} </p>
		<p> {{contactHolder.phoneNumber}} </p>
	   <img src = "{{contactHolder.image}}" />
	</li>
</ul>
